* {
    margin: 0;
}

input:focus,
button:focus {
    outline: none;
}

#applicationContainer {
    position: absolute;
    left: 60px;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    background: rgba(0, 0, 0, 0.8);
    z-index: -10;
}

#appContainer {
    position: relative;
    /*background: rgba(255, 255, 255, 0.8);*/
    background: #fff;
    margin: 10px;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: calc(100% - 20px);
}

#list {
    position: absolute;
    height: 100%;
    width: 20%;
    background: rgba(0, 0, 0, 0.2);
}

#portal {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
}

.appButton {
    width: 40%;
    height: 70px;
    margin-right: 5px;
    border: none;
    color: white;
    font-size: 30px;
}

#red:hover,
#blue:hover,
#toggle:hover {
    background: black;
    color: white;
}

#red {
    background: #a94b4a;
}

#blue {
    background: #484b9e;
}

#toggle {
    position: absolute;
    right: 0;
    width: -webkit-calc(20% - 10px);
    width: -moz-calc(20% - 10px);
    width: calc(20% - 10px);
    margin-right: 0;
    background: #649c64;
    color: black;
}

#toggleContainer {
    position: absolute;
    height: 88%;
    bottom: 0;
    left: 0;
    right: 0;
}

.inventoryContainer {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
}

.overviewContainer {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
}
