* {
    margin: 0;
}

input:focus,
button:focus {
    outline: none;
}
#applicationContainer {
    position: absolute;
    left: 60px;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    height: 800px;
    background: rgba(0, 0, 0, 0.8);
    z-index: -10;
}

#homeContainer {
    position: absolute;
    left: 60px;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    z-index: -10;
}

#contactContainer {
    position: absolute;
    left: 60px;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    z-index: -10;
}



