.contentBox {
  height: 400px;
  background-image: url("./network.jpeg");
  background-repeat: no-repeat;
  background-size: 130%;
  opacity: 0.8;
}

.contentBox:hover {
  opacity: 1;
}

.contentBox2 {
  height: 400px;
  background-image: url("./meet.jpeg");
  background-repeat: no-repeat;
  background-size: 130%;
  opacity: 0.8;
}

.contentBox2:hover {
  opacity: 1;
}

.contentBox3 {
  height: 400px;
  background-image: url("./tech.jpeg");
  background-repeat: no-repeat;
  background-size: 130%;
  opacity: 0.8;
}

.contentBox3:hover {
  opacity: 1;
}
