* {
  margin: 0;
}

#homeTeamContainer {
  position: absolute;
  left: 60px;
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: -10;
}

#homeAppContainer {
  position: absolute;
  left: 60px;
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
  height: 1700px;
  background: rgba(0, 0, 0, 0.8);
  z-index: -10;
}

#homeContainer {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  margin: 10px;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
}


