#institutionContainer {
    position: absolute;
    bottom: 0;
    height: -webkit-calc(100% - 30px);
    height:    -moz-calc(100% - 30px);
    height:         calc(100% - 30px);
    width: 100%;
    overflow: scroll;
}


.searchInput {
    position: absolute;
    left: 10px;
    top: 5px;
    border-radius: 5px;
    border: none;
    height: 20px;
    width: 70%;
    padding-left: 5px;
}
#searchButton {
    position: absolute;
    background: red;
    height: 20px;
    width: 10px;
    right: 10px;
    border-radius: 5px;
    top: 5px;
}

#searchButton:hover {
    background: blue;
}
