#institutionContainer {
    position: absolute;
    bottom: 0;
    height: -webkit-calc(100% - 30px);
    height:    -moz-calc(100% - 30px);
    height:         calc(100% - 30px);
    width: 100%;
    overflow: scroll;
}


.searchInput {
    position: absolute;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left: 50%;
    top: 5px;
    border-radius: 5px;
    border: none;
    height: 20px;
    width: 90%;
    padding-left: 5px;
}
